/*
/*/

!.gitignore

# this is weird, but doesn't work without it => TO FIX!
!/*
/*/*

!/Dependencies/*

!/*/Assets
!/*/Packages/
!/*/ProjectSettings/

# Kinect related files
/*/Assets/Kinect/Plugins/
/*/Assets/Kinect/Plugins.meta
/*/Assets/Kinect/Standard Assets/
/*/Assets/Kinect/Standard Assets.meta

# OpenCV related files
/*/Assets/OpenCV/Plugins/*.dll*
